################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSTS.ChocolateyTools/v14/.suo
*.vsix
